*{
	margin: 0;
	padding: 0;
}
#content{
	background-color: #656BD3;
	color: #000;
	height: 650px;
	padding-top: 130px;
	position: relative;
	text-align: center;
	width: 100%;

}
.bg-light{
	background-color: #656BD3!important;
}
.fixed{
	width: 100%;
	background-color: white!important;
	height: 100px;
	color: white;
	display: ;
	position: fixed;
	top: 0;
}
.btn-large{
	background: #FF6633;
	width: 180px;
	height: ;
	padding: 10px;
	font-size: 18px;
	color: #fff;
	border-radius: 30px;
}
.back{
	z-index: -1;
}
.btn-large:hover{
	background: black;
	color: #fff;
}
.fixed .nav-link{
	color: white!important;

}
#content:before{
	position: absolute;
	content: '';
	width: 60%;
	height: 155px;
	bottom: -100px;
	left: 0;
	background-color: #FFF;
	transform: skewY(8deg);
}

#content:after{
	position: absolute;
	content: '';
	width: 60%;
	height: 155px;
	bottom: -100px;
	right: 0;
	background-color:#FFF;
	transform: skewY(-8deg);
}
.nav-item{
	text-transform: uppercase;
	
}
.nav-link{
	color: white!important;
}

.container{
	background-color:;
	height:;
	margin-top: -6pc;
}
.container h1{
	text-transform: uppercase;

}
.Headcontent{
	width: 80%;
	margin: 0 auto;
	margin-top: 5em;
	text-align: center;
	line-height: 1.5;
}
.Headcontent .btn{
position: relative;
	top: 4em;
}
.clear{
	clear: both;
}
.about{
	width: 100%;
	position: relative;
	top: 9.8pc;
	background-color: ;
}
.img1{
	float: left;
	width: 35%;
	height: auto;
	position: relative;
	left: 7pc;
}
.aboutSet{
	width: 55%; 
	position: relative;
	top: 0.4pc;
	background-color: ;
	float: right;
	padding: 10px;
	font-size: 15pt;
}
.aboutSet btn{
	position: relative;
	top: 10px;	
}