*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 450px;
	background-color: #7D84EE;
}
.navbar-custom a{
	color: white !important;
}
.navbar-custom a:hover{
	color: rgb(181, 184, 242)!important;
}
.h1{
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-family: inherit;
	line-height: 1.2;
	margin-top: 0;
}
.container-card{
	width: 95%;
	background: red;
	margin: 0 auto;
}
.para>h2{
	font-size: 30px;
	text-align: center;
	line-height: 0.8;
	color: #C9CBF4;
}
.para>h2{
	color: #fff;
	text-transform: uppercase;
}
.btn-large{
	background: #FF6633;
	width: 200px;
	height: 70px;
	font-size: 25px;
	color: #fff;
	border-radius: 30px;
}
.container-setup{
	margin-top: 13pc;
}
.btn-large:hover{
	background: black;
	color: #fff;
}
.container{
	background-color: ;
	clear:;
	text-align: center;

}

.container .aboutpicsec{
	width: 50%;
	height: ;
	background-color: ;
	float: left; 
}
.img1{
	width: 100%;
}
.color{
	border:black 2px solid;
}
.ara1{
	margin-left: 2.4pc;
	margin-top: 2pc;
}
.sec{
	margin-top: 1.5pc;
}
.container .aboutsec{
	width: 50%;
	height: ;
	background-color: #FFFFFF;
	float: right; 

}
.ara-setup{
	margin-right: 2px;
}
.aboutdetails{
	margin-top: 1.5pc;
	font-size: 16pt;
}
.btn-set{
	margin-top: 3pc;
}
.container-fluid{
	width: 100%;
	background-color: red;/*#FAFAFA;*/
	margin-top: 5pc;
	text-align: center;
}
.img{
	width: ;
	height: ;
	background-color: ;
	margin: 0 auto;

}
.text-size{
	font-size: 20pt;
	color: #748182;
}
.text{
	width: ;
	height: ;
	background-color: ;
	margin: 0 auto;
	margin-left: 1.5pc;
	margin-right: 1.5pc;
}
.divison{
	margin-top: 5pc;
}
.divison > div h2{
	margin-left: 2pc;
}
.container-fluid .divison{
	width: 31%;
	height: ;
	background-color: ;
	float: left;
	margin-left:2% ;
}
.upper{
	text-transform: uppercase;
}